.App {
  background: #d1d9fe;
  max-width: 650px;
  margin: 50px auto;
  color: #474acb;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}
.App footer {
  font-size: 11px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
