.Weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #474acb;
}
.Weather .btn {
  background: #474acb;
  color: white;
  border-radius: 10px;
  
}
.Weather .btn:hover {
  background: #6f7cf2;
  curson: pointer;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather img {
  height: 64px;
  width: 64px;
}

.Weather .temperature {
  font-weight: 400;
  color: #474acb;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: #474acb;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
}

.WeatherTemperature a {
  text-decoration: none;
}
